<h1>sighting saved!</h1>

<p>Your sighting was successfully saved.</p>

<p><a href="/sightings/<%= @sighting.id %>">View <%= @sighting.animal_id %></a></p>

<p><a href="/sightings">Return to contact listing</a></p>
