<h1>Animal saved!</h1>

<p>Your animal was successfully saved.</p>

<p><a href="/animals/<%= @animal.id %>">View <%= @animal.species %></a></p>

<p><a href="/animals">Return to animal listing</a></p>
